# fly.toml app configuration file generated for gpg-backend on 2025-12-11T04:39:56Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gpg-backend'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
